.portifolio {
    width: 100%;
    background: #000;
    padding: 40px 0;
  }
  
  .portifolio .subtitulo {
    color: #fec63e;
  }
  
  .portifolio .subtitulo:after {
    background: #fec63e;
  }
  
  .portifolio_lista li:last-child {
    margin-top: 20px;
  }
  
  .portifolio .call p {
    color: #fff;
  }